@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    background: url("../images/classic-world-video-game-background-free-vector.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Lilita One";
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    height: 300vh;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100px;
    width:100%;
    background: #2CB01A;
    
}
nav .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 90%;
    margin:auto;
    max-width: 1800px;
}

.logo {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.menu {
    display: none;
}

.menu li {
    list-style: none;
    margin: 0.25rem;
}

.menu li a {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    cursor: pointer;
}

#nav-toggle:checked + .nav-toggle-label + .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color:#2CB01A;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    top: 80%;
    height: 5rem;
    
}



section {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*CSS for main page*/

#home-page {
    display:block;
    text-align: center;
}

.all-rules {
    padding: 0px 25px 15px;
    margin-top: 200px;
    line-height: 1.5;
    border-radius: 0.5rem;
}

.rules {
    padding:10px;
    background-color: #ffffff;
    border-radius: 10px;
}

.rules-game1, .rules-game2 {
    padding: 0px 25px 15px;
    background: #2CB01A;
    border-radius: 0.5rem;
    margin-top: 0.2rem;
}

.rules-game2 {
    background: goldenrod;
}

.how-to-play-game-1,
.how-to-play-game-2 {
    background-color: white;
    color:rgb(28, 27, 27);
    padding: 0px 20px;
    line-height: 1.5;
    margin: auto;
    width: 16rem;
    border-radius: 10px;
}

.rules-game1-list > li, h4, 
.rules-game2-list {
    padding:10px;
    font-size: 1rem;
    font-weight: bold;
}

.player-list ul li,
.turn-sequence-list ul li,
.winning-rules, p {
    font-size: 1rem;
}

.hide {
    display:none;
}

/*CSS for the Game 1!*/


#tic-tac-yahoo {
    background-color: white;
    padding: 0;
    margin-top: 200px;
    padding-bottom: 20px;
    border-radius: 0.2rem;
    width: 15rem;
}

#info {
    font-size: 1.5rem;
}

.game-name {
    padding-top:20px;
}

.board {
    display:grid;
    grid-template-columns: repeat(3,auto);
    width: 100px;
    margin-bottom:10px;
    margin-top:10px;
    margin-left: 40px;
    margin-right: 50px;
    justify-items: center;
    align-items: center;
    max-width: 1800px;
}

.square {
    width: 50px;
    height: 50px;
    border: solid black 1px;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.mario {
    background-image: url('../images/mario.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    height: 2.5rem;
    width: 2.5rem;
    box-sizing: border-box;
}

.bowser {
    background-image: url('../images/bowser.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    height: 3rem;
    width: 3rem;
    position: relative;
    box-sizing: border-box;
}

.winning-message {
    display:none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 2rem;
    background-color:yellow;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
    border-radius: 0.5rem;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}


.winning-message.show {
    display: flex;
}

/*CSS for the Game 2!*/



#mario-shadow-quest {
    background-color: white;
    padding: 0;
    margin-top: 200px;
    padding-bottom: 20px;
    border-radius: 0.2rem;
    width: 12rem;
}

.image-box {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;   
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#shadowImage {
    width: 50%;
    height: 50%;
}

.options {
    text-align: center;
    border-radius: 10px;
}

.button-option {
    font-size: 1.5rem;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
    border-radius: 10px;

}

#option1 {
    background-color: red;
}

#option2 {
    background-color: #2CB01A;
}

.option-button {
    font-size: 1.5rem;
    background-color:yellow;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
    border-radius: 0.5rem;
}

.button-option button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.score-area {
    font-size:1rem;
    width: 50%;
    background-color: #ffffff;
    display: grid;
    justify-content: center;
    padding: 1rem;
    border-radius: 20px;
    margin: auto;
    border-color: black;
}

.time-left {
    font-size:1rem;
    width: 1%;
    background-color: #ffffff;
    display: grid;
    justify-content: center;
    padding: 1rem;
    border-radius: 50px;
    margin: auto;
    border-color: black;
}






footer {
    background-color: red;
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
}

#social-network {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-network i {
    font-size: 1.5rem;
    padding: 5%;
    color: #ffffff;
}

/* Media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px)  {


    #nav-toggle:checked + .nav-toggle-label + .menu {
        width: 100%;
        left: 0;
        padding: 0 1rem;
        box-shadow: 0 2px 2px #3a3a3a;
        top: 100%;
        height: 7.2rem;
        
    }

    .logo {
        font-size: 2rem;
    }

    .menu li a {
        font-size: 1.5rem;

    }

    h2 {
        font-size: 2rem;
    }

    h3, h4 {
        font-size: 1.5rem;
    }

    .rules-game1-list>li,
    .player-list ul li,
    .turn-sequence-list ul li,
    .winning-rules, p {
    font-size: 1.2rem;
    line-height: 2;
}


    #home-page {
        display:block;
        text-align: center;
        width: 40rem;
        margin:auto;
    }

    .open-rules-game1 {
        font-size: 1.5rem;
        border: 1px solid black;
        padding: .25em .5em;
        cursor: pointer;
        border-radius: 10px;
    }

    .all-rules {
        padding: 0px 25px 15px;
        margin-top: 300px;
        line-height: 1.5;
        border-radius: 0.5rem;
    }

    .how-to-play-game-1 {
        padding: 0px 20px;
        line-height: 1.5;
        margin: auto;
        width: 34rem;
    }

    /* CSS style for game 1 */

    #tic-tac-yahoo {
        background-color: white;
        padding: 0;
        margin-top: 300px;
        padding-bottom: 20px;
        border-radius: 0.2rem;
        width: 30rem;
    }

    .board {
        width: 100px;
        margin-left: 90px;
    }
    
    .square {
        width: 100px;
        height: 100px;
        border: solid black 1px;
        cursor: pointer;
    }

    .mario {
        height: 90px;
        width: 90px;
    }
    
    .bowser {   
        height: 90px;
        width: 90px;
    }

    .winning-message {
        font-size: 5rem;

    }
    
    .winning-message button {
        font-size: 3rem;
    }

    #mario-shadow-quest {
        width: 15rem;
    }
    
    .image-box {
        padding: 3rem;
    }
    
    #shadowImage {
        width: 80%;
        height: 80%;
    }

    .options {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        text-align: center;
        border-radius: 10px;
    
    }
    
    .button-option {
        font-size: 2rem;
    }
    
    #option1 {
        background-color: red;
    }
    
    #option2 {
        background-color: #2CB01A;
    }
    
    .button-option button:hover {
        background-color: black;
        color: white;
        border-color: white;
    }

}

/* Media query: tablets and larger (1024px and up) */

@media screen and (min-width: 1024px)  {
    
    body {
    height: 200vh;
    }

    #home-page {
        display:block;
        text-align: center;
        width: 56rem;
        margin:auto;
    }

    .how-to-play-game-1 {
        padding: 0px 20px;
        line-height: 1.5;
        margin: auto;
        width: 50rem;
    }

}

